p {
    margin: 0;
    padding: 0;

}

body{
    background-color: #54123b;
    color: #29c7ac;
    margin: auto;
    width: 750px;
}

.jumbotron {
    background-color: #c02739;
    text-align: center;
}

#happy{
    background-image: url(https://vignette.wikia.nocookie.net/tamagotchi/images/8/8d/Tamagotchi_blue.png/revision/latest?cb=20110906021758);
    width: 500px;
    height: 500px;
    background-size: cover;
}

#game{
    display:none;
    background-color: #84142d;
}

#goodfinal, #badfinal, #textfood, #textsleep, #textplay{
    display: none;
    margin: 5%;
}

#unhappy{
    background-image: url(https://vignette.wikia.nocookie.net/tamagotchi/images/b/b9/Mametchi_sad.png/revision/latest/top-crop/width/300/height/300?cb=20170726030108);
    display: none;
    width: 500px;
    height: 500px;
    background-size: cover;
}

#dead{
    background-image: url(https://art.ngfiles.com/images/999000/999139_pinkmoth_evil-tamagotchi-babby.png?f1566397236);
    display: none;
    width: 500px;
    height: 500px;
    background-size: cover;
}

#picture{
    margin: auto;
    width: 500px;
    height: 500px;
    background-size: cover;
    margin-bottom: 30px;
    text-align: center;
}

#screens{
    height: 60px;
    width: 400x;
    margin-left: 120px;
    margin-bottom: 50px;
}

.screen{

    width: 120px;
    height: 50px;
    margin: 20px;
    font-size: 30px;

}

#buttons{
    margin-left: 25%;
    color: red;
}

button {
    background-color: #29c7ac;
    border: none;
    border-radius: 15%;
    box-shadow: 2px 3px black;
}

button:active {
    background-color: green;
}